{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DWM | Login</title>
    <link rel="stylesheet" media="screen" href="{% static "css/reset.css"%}">
    <link rel="stylesheet" media="screen" href="{% static "css/j_login.css"%}">
    <link rel="stylesheet" media="screen" href="{% static "css/j_main.css"%}">
    <script src="{% static "js/jquery-3.1.1.min.js"%}"></script>
</head>
<body>
    <main class="login">
        <div class="login__logo logo"></div>
        <form class="login__form form" id="float_form" name="login" method="post" enctype="multipart/form-data">
            <div class="form__group">
                <input class="input" type="tel" required name="phone_number">
                <label class="label">Phone number</label>
            </div>
            <div class="form__group">
                <input class="input" type="password" required pattern="[0-9]*" name="password">
                <label class="label">Password</label>
            </div>
            <button class="submit" id="signin">Sign in</button>
        </form>
        <a href="/register/" class="login__create">Create account</a>


    </main>
    <script src="{% static "js/float_labels.js"%}"></script>
    <script src="{% static "js/j-query.js"%}"></script>
</body>
</html>